<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" convertErrorsToExceptions="true" convertWarningsToExceptions="true" convertNoticesToExceptions="true" convertDeprecationsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <php>
    <!-- Credentials used for the selenium tests. May be overwritten in OS -->
    <env name="testuser" value="admin"/>
    <env name="testpassword" value="admin"/>
  </php>
  <testsuites>
    <testsuite name="app">
      <directory suffix="Test.php">tests/TestCase/</directory>
    </testsuite>
  </testsuites>
  <!-- Setup a listener for fixtures -->
  <listeners>
    <listener class="Cake\TestSuite\Fixture\FixtureInjector">
      <arguments>
        <object class="Cake\TestSuite\Fixture\FixtureManager"/>
      </arguments>
    </listener>
  </listeners>
</phpunit>
